*{
    margin: 0;
    padding: 0;
    font-family: Century;
}

header{
    position: relative;
    background-image: url(Background.JPEG);
    height: 100vh;
    background-repeat:no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
}