*{
    margin: 0;
    padding: 0;
    font-family: Century;
}

.background{
    height: 100%;
    width: 100%;
    background-image: url(Background.JPEG);
    background-size: cover;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
